<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.hisp.dhis.android.datacapture"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.hisp.dhis.android.datacapture.DataCaptureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        tools:replace="android:name">
        <activity
            android:name="org.hisp.dhis.android.datacapture.ui.activities.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.hisp.dhis.android.datacapture.ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/DarkTheme"/>
        <activity
            android:name="org.hisp.dhis.android.datacapture.ui.activities.MenuActivity"
            android:label="@string/title_activity_menu"/>
        <activity
            android:name="org.hisp.dhis.android.datacapture.ui.activities.ConfirmUserActivity"
            android:label="@string/title_activity_confirm_user">
        </activity>
        <activity
            android:name="org.hisp.dhis.android.datacapture.ui.activities.ReportEntryActivity"
            android:label="@string/title_activity_report_entry">
        </activity>
    </application>

</manifest>
