<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dhis2.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">
        <service
            android:name=".WorkService"
            android:exported="false" />

        <receiver android:name=".NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".utils.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="org.dhis2.mobile.SEND_SMS"/>
            </intent-filter >
            <intent-filter>
                <action android:name="org.dhis2.mobile.DELIVERED_SMS"/>
            </intent-filter >
            <!-- Highest priority so that other apps don't receive the intent instead-->
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.LoginActivity" />
        <activity
            android:name=".ui.activities.MenuActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.DataEntryActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="675a9594416771c25d42f8d5fc0b21402f9ac800"
            />
    </application>

</manifest>